# Node / package managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# Builds
dist/
*.tsbuildinfo

# Generated SDKs (normalmente NO se versionan)
packages/generated/

# Cache
.cache/
**/.cache/
.tmp/
**/.tmp/
.temp/
**/.temp/
.DS_Store

# Env
.env
.env.*.local

# IDEs
.vscode/
.idea/
*.iml

# OS
Thumbs.db
